<a href="https://colab.research.google.com/github/sebekpro/python-krakowiak/blob/main/250-data-science-bootcamp-w-jezyku-python/081_090_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 81](#1)
* [Ćwiczenie 82](#2)
* [Ćwiczenie 83](#3)
* [Ćwiczenie 84](#4)
* [Ćwiczenie 85](#5)
* [Ćwiczenie 86](#6)
* [Ćwiczenie 87](#7)
* [Ćwiczenie 88](#8)
* [Ćwiczenie 89](#9)
* [Ćwiczenie 90](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np

np.set_printoptions(linewidth=100)
np.__version__

'1.26.4'

### <a name='1'></a> Ćwiczenie 81
Wygeneruj wyszstkie daty poniedziałków ze stycznia i lutego 2020 roku jako tablicę numpy.

__Oczekiwany wynik:__


```
array(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27', '2020-02-03', '2020-02-10',
       '2020-02-17', '2020-02-24'], dtype='datetime64[D]')
```

In [9]:
# tutaj wpisz rozwiązanie
import datetime
dates = np.arange('2020-01-01', '2020-03-01', dtype = 'datetime64[D]')
mondays = np.array([d for d in dates if datetime.datetime.strptime(str(d), '%Y-%m-%d').weekday() == 0]).reshape(2,4)
print(mondays)

[['2020-01-06' '2020-01-13' '2020-01-20' '2020-01-27']
 ['2020-02-03' '2020-02-10' '2020-02-17' '2020-02-24']]

#### Dni śmierci moich rodziców w kolejnych latach
Napisz kod, który wyszuka i wypisze wszystkie lata w postaci tabeli i utwórz datę w formacie dd-mm-YY, dla których 5 czerwiec przypada w poniedziałek i zrób to samo dla 16 października, który przypada w środę. Z tych dwu tabel wypisz lata wspólne w których 5 czerwiec przypada w poniedziałek a 16 października w środę. Wyszukaj w przedziale od roku 2023 do 2124 roku

In [17]:
import datetime

# Przedział lat od 2023 do 2124 (2124 włącznie)
years = range(2023, 2125)

# Listy do przechowywania wyników
monday_june5 = [] # Lata, w których 5 czerwiec przypada w poniedziałek
wednesday_october16 = [] # Lata, w których 16 października przypada w środę

# Przeglądamy każdy rok z przedziału
for year in years:
  d_june = datetime.date(year, 6, 5)
  d_oct = datetime.date(year, 10, 16)

  # Sprawdzamy warunki
  if d_june.weekday() == 0: # 0 = poniedziałek
    # Dodajemy krotkę (rok, sformatowana data)
    monday_june5.append((year,d_june.strftime('%d-%m-%y')))
  if d_oct.weekday() == 2: # 2 = środa
      wednesday_october16.append((year, d_oct.strftime('%d-%m-%y')))

# Wypisujemy wyniki dla 5 czerwca (poniedziałek)
print('Lata, w których 5 czerwca przypada w poniedziałek:')
for year, date_str in monday_june5:
  print(f"{year}: {date_str}")

print('Lata, w których 16 października przypada w środę:')
for year, date_str in wednesday_october16:
  print(f"{year}: {date_str}")

# Wyznaczamy wspólne lata, czyli te, które spełniają oba warunki
years_june = {year for year, _ in monday_june5}
years_oct = (year for year, _ in wednesday_october16)
common_years = sorted(years_june.intersection(years_oct))
if_not_year_common = True;

print("\n Lata wspólne, w których 5 czerwca przypada w poniedziałek i 16 października w środę: ")
for year in common_years:
  d_june_str = datetime.date(year, 6, 5).strftime('%d-%m-%y')
  d_oct_str = datetime.date(year, 10, 16).strftime('%d-%m-%y')
  if_not_year_common = False

  print(f"{year}: 5 czerwca: {d_june_str}, 16 października: {d_oct_str}")
if if_not_year_common:
  print("Brak wspólnych lat")

Lata, w których 5 czerwca przypada w poniedziałek:
2023: 05-06-23
2028: 05-06-28
2034: 05-06-34
2045: 05-06-45
2051: 05-06-51
2056: 05-06-56
2062: 05-06-62
2073: 05-06-73
2079: 05-06-79
2084: 05-06-84
2090: 05-06-90
2102: 05-06-02
2113: 05-06-13
2119: 05-06-19
2124: 05-06-24
Lata, w których 16 października przypada w środę:
2024: 16-10-24
2030: 16-10-30
2041: 16-10-41
2047: 16-10-47
2052: 16-10-52
2058: 16-10-58
2069: 16-10-69
2075: 16-10-75
2080: 16-10-80
2086: 16-10-86
2097: 16-10-97
2109: 16-10-09
2115: 16-10-15
2120: 16-10-20

 Lata wspólne, w których 5 czerwca przypada w poniedziałek i 16 października w środę:
Brak wspólnych lat

### <a name='2'></a> Ćwiczenie 82
Podane są dwie tablice $A$ i $B$:

```
A = np.array(['001', '002', '003'], dtype=np.str)
B = np.array(['XC', 'YC', 'ZC'], dtype=np.str)
```
Sklej je w jedną tak jak pokazano poniżej:


```
array(['001XC', '002YC', '003ZC'], dtype='<U5')
```

__Wskazówka:__ Użyj funkcję _np.char.add()_.

In [20]:
# tutaj wpisz rozwiązanie
A = np.array(['001', '002', '003'], dtype=np.str_)
B = np.array(['XC', 'YC', 'ZC'], dtype=np.str_)
C = np.char.add(A, B)
C

array(['001XC', '002YC', '003ZC'], dtype='<U5')

### <a name='3'></a> Ćwiczenie 83
Podana jest poniższa tablica:


```
A = np.array(['1', '2', '3'], dtype=np.str)
```
Dodaj '000' (3 zera) na początku każdego elementu tablicy.

__Wskazówka:__ Użyj funkcję _np.char.add()_ lub _np.char.rjust()_ lub _np.char.zfill()_.

In [24]:
from textwrap import fill
# tutaj wpisz rozwiązanie
A = np.array(['1', '2', '3'], dtype=np.str_)
C1 = np.char.add('000', A)
C2 = np.char.rjust(A, 4, fillchar = '0')
C3 = np.char.zfill(A, 4)
print(C1, "\n")
print(C2, "\n")
print(C3, "\n")

['0001' '0002' '0003']

['0001' '0002' '0003']

['0001' '0002' '0003']

### <a name='4'></a> Ćwiczenie 84
Podana jest poniższa tablica:

```
A = np.array([['PLW CDR 11B TEN', 'AMC LPP'],
              ['CDR PKO KGH', 'CCC QMK']], dtype=np.str)
```
Podziel każdy element powyższej tablicy względem spacji otrzymując listę wartości na każdym miejscu.

__Oczekiwany wynik:__


```
array([[list(['PLW', 'CDR', '11B', 'TEN']), list(['AMC', 'LPP'])],
       [list(['CDR', 'PKO', 'KGH']), list(['CCC', 'QMK'])]], dtype=object)
```
__Wskazówka:__ Użyj funkcji _np.char.split()_.

In [28]:
# tutaj wpisz rozwiązanie
A = np.array([['PLW CDR 11B TEN', 'AMC LPP'],
              ['CDR PKO KGH', 'CCC QMK']], dtype=np.str_)
C = np.char.split(A)
C

array([[list(['PLW', 'CDR', '11B', 'TEN']), list(['AMC', 'LPP'])],
       [list(['CDR', 'PKO', 'KGH']), list(['CCC', 'QMK'])]], dtype=object)

### <a name='5'></a> Ćwiczenie 85
Podana jest poniższa tablica:

```
A = np.array([['#summer#time#mood'],
              ['#sport#time']])
```
Zamień wszystkie znaki # na spacje i nastepnie usuń niepotrzebne spacje dookoła tekstu.

__Oczekiwany wynik:__


```
array([['summer time mood'],
       ['sport time']], dtype='<U17')
```

In [34]:
# tutaj wpisz rozwiązanie
A = np.array([['#summer#time#mood'],
              ['#sport#time']])
C = np.char.replace(A, '#', ' ')
print(f' Replace #: {C}')

C = np.char.strip(C)
print(f' Replace spaces: {C}')

 Replace #: [[' summer time mood']
 [' sport time']]
 Replace spaces: [['summer time mood']
 ['sport time']]

### <a name='6'></a> Ćwiczenie 86
Podana jest poniższa tabilca:

```
A = np.array([['#summer#time#mood', '#vibe'],
              ['#sport#time', '#good#time'],
              ['#event#summer', '#fast#move']])
```
Policz liczbę wystąpień słowa 'time' w każdym elemencie tablicy $A$.

__Wskazówka:__ Użyj funkcji _np.char.count()_.

In [37]:
# tutaj wpisz rozwiązanie
A = np.array([['#summer#time#mood', '#vibe'],
              ['#sport#time', '#good#time'],
              ['#event#summer', '#fast#move']])
array_len = np.char.count(A, 'time')
array_len

array([[1, 0],
       [1, 1],
       [0, 0]])

### <a name='7'></a> Ćwiczenie 87
Podany jest poniższy tekst zawierający dane dotyczące spółek z indeksu WIG20:


```
text = """ALIOR	PLALIOR00045	88 860 000	1 386 216 000	0,891	2,16	14
CCC	PLCCC0000016	27 918 000	1 292 603 400	0,831	5,28	42
CDPROJEKT	PLOPTTC00011	67 348 000	22 864 646 000	14,702	7,39	7
CYFRPLSAT	PLCFRPT00013	275 301 000	6 854 994 900	4,408	1,17	14
DINOPL	PLDINPL00011	47 937 000	8 916 282 000	5,733	9,13	12
JSW	PLJSW0000015	52 636 000	716 902 320	0,461	1,51	24
KGHM	PLKGHM000017	136 410 000	9 881 540 400	6,354	4,78	8
LOTOS	PLLOTOS00025	86 543 000	5 609 717 260	3,607	2,91	16
LPP	PLLPP0000011	1 306 000	7 444 200 000	4,787	1,43	19
MBANK	PLBRE0000012	12 997 000	2 830 746 600	1,820	0,42	24
ORANGEPL	PLTLKPL00017	647 357 000	4 285 503 340	2,756	1,16	13
PEKAO	PLPEKAO00016	176 379 000	9 619 710 660	6,185	5,27	9
PGE	PLPGER000010	796 776 000	3 561 588 720	2,290	2,88	18
PGNIG	PLPGNIG00014	1 624 608 000	6 072 784 704	3,905	1,56	12
PKNORLEN	PLPKN0000018	289 049 000	17 701 360 760	11,382	12,44	8
PKOBP	PLPKO0000016	857 593 000	18 807 014 490	12,093	10,49	9
PLAY	LU1642887738	114 151 000	3 696 209 380	2,377	1,47	16
PZU	PLPZU0000011	568 305 000	17 515 160 100	11,262	6,64	6
SANPL	PLBZ00000044	33 207 000	5 213 499 000	3,352	1,91	18
TAURONPE	PLTAURN00011	1 043 590 000	1 252 308 000	0,805	1,21	33"""
```


__Kolumny oznaczają odpowiednio:__

Instrument | Kod ISIN | Pakiet | Pakiet (PLN) | Udział w portfelu(%) | Udział w obrotach akcjami i PDA na sesji (%) | Średni spread na sesji

Podziel tekst na linie. Nastepnie każdą linię podziel względem znaku tabulacji '\t' i zbuduj tablicę numpy (bez nagłówków) zawierajacą poniższe dane. Przypisz wynikową tablicę do zmiennej _result_.

__Oczekiwany wynik:__


```
array([['ALIOR', 'PLALIOR00045', '88 860 000', '1 386 216 000', '0,891', '2,16', '14'],
       ['CCC', 'PLCCC0000016', '27 918 000', '1 292 603 400', '0,831', '5,28', '42'],
       ['CDPROJEKT', 'PLOPTTC00011', '67 348 000', '22 864 646 000', '14,702', '7,39', '7'],
       ['CYFRPLSAT', 'PLCFRPT00013', '275 301 000', '6 854 994 900', '4,408', '1,17', '14'],
       ['DINOPL', 'PLDINPL00011', '47 937 000', '8 916 282 000', '5,733', '9,13', '12'],
       ['JSW', 'PLJSW0000015', '52 636 000', '716 902 320', '0,461', '1,51', '24'],
       ['KGHM', 'PLKGHM000017', '136 410 000', '9 881 540 400', '6,354', '4,78', '8'],
       ['LOTOS', 'PLLOTOS00025', '86 543 000', '5 609 717 260', '3,607', '2,91', '16'],
       ['LPP', 'PLLPP0000011', '1 306 000', '7 444 200 000', '4,787', '1,43', '19'],
       ['MBANK', 'PLBRE0000012', '12 997 000', '2 830 746 600', '1,820', '0,42', '24'],
       ['ORANGEPL', 'PLTLKPL00017', '647 357 000', '4 285 503 340', '2,756', '1,16', '13'],
       ['PEKAO', 'PLPEKAO00016', '176 379 000', '9 619 710 660', '6,185', '5,27', '9'],
       ['PGE', 'PLPGER000010', '796 776 000', '3 561 588 720', '2,290', '2,88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1 624 608 000', '6 072 784 704', '3,905', '1,56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289 049 000', '17 701 360 760', '11,382', '12,44', '8'],
       ['PKOBP', 'PLPKO0000016', '857 593 000', '18 807 014 490', '12,093', '10,49', '9'],
       ['PLAY', 'LU1642887738', '114 151 000', '3 696 209 380', '2,377', '1,47', '16'],
       ['PZU', 'PLPZU0000011', '568 305 000', '17 515 160 100', '11,262', '6,64', '6'],
       ['SANPL', 'PLBZ00000044', '33 207 000', '5 213 499 000', '3,352', '1,91', '18'],
       ['TAURONPE', 'PLTAURN00011', '1 043 590 000', '1 252 308 000', '0,805', '1,21', '33']],
      dtype='<U14')
```

In [43]:
# tutaj wpisz rozwiązanie
text = """ALIOR	PLALIOR00045	88 860 000	1 386 216 000	0,891	2,16	14
CCC	PLCCC0000016	27 918 000	1 292 603 400	0,831	5,28	42
CDPROJEKT	PLOPTTC00011	67 348 000	22 864 646 000	14,702	7,39	7
CYFRPLSAT	PLCFRPT00013	275 301 000	6 854 994 900	4,408	1,17	14
DINOPL	PLDINPL00011	47 937 000	8 916 282 000	5,733	9,13	12
JSW	PLJSW0000015	52 636 000	716 902 320	0,461	1,51	24
KGHM	PLKGHM000017	136 410 000	9 881 540 400	6,354	4,78	8
LOTOS	PLLOTOS00025	86 543 000	5 609 717 260	3,607	2,91	16
LPP	PLLPP0000011	1 306 000	7 444 200 000	4,787	1,43	19
MBANK	PLBRE0000012	12 997 000	2 830 746 600	1,820	0,42	24
ORANGEPL	PLTLKPL00017	647 357 000	4 285 503 340	2,756	1,16	13
PEKAO	PLPEKAO00016	176 379 000	9 619 710 660	6,185	5,27	9
PGE	PLPGER000010	796 776 000	3 561 588 720	2,290	2,88	18
PGNIG	PLPGNIG00014	1 624 608 000	6 072 784 704	3,905	1,56	12
PKNORLEN	PLPKN0000018	289 049 000	17 701 360 760	11,382	12,44	8
PKOBP	PLPKO0000016	857 593 000	18 807 014 490	12,093	10,49	9
PLAY	LU1642887738	114 151 000	3 696 209 380	2,377	1,47	16
PZU	PLPZU0000011	568 305 000	17 515 160 100	11,262	6,64	6
SANPL	PLBZ00000044	33 207 000	5 213 499 000	3,352	1,91	18
TAURONPE	PLTAURN00011	1 043 590 000	1 252 308 000	0,805	1,21	33"""

# Dzielimy tekst na linie
lines = text.strip().splitlines()

data = [line.split('\t') for line in lines]

result = np.array(data)
result

array([['ALIOR', 'PLALIOR00045', '88 860 000', '1 386 216 000', '0,891', '2,16', '14'],
       ['CCC', 'PLCCC0000016', '27 918 000', '1 292 603 400', '0,831', '5,28', '42'],
       ['CDPROJEKT', 'PLOPTTC00011', '67 348 000', '22 864 646 000', '14,702', '7,39', '7'],
       ['CYFRPLSAT', 'PLCFRPT00013', '275 301 000', '6 854 994 900', '4,408', '1,17', '14'],
       ['DINOPL', 'PLDINPL00011', '47 937 000', '8 916 282 000', '5,733', '9,13', '12'],
       ['JSW', 'PLJSW0000015', '52 636 000', '716 902 320', '0,461', '1,51', '24'],
       ['KGHM', 'PLKGHM000017', '136 410 000', '9 881 540 400', '6,354', '4,78', '8'],
       ['LOTOS', 'PLLOTOS00025', '86 543 000', '5 609 717 260', '3,607', '2,91', '16'],
       ['LPP', 'PLLPP0000011', '1 306 000', '7 444 200 000', '4,787', '1,43', '19'],
       ['MBANK', 'PLBRE0000012', '12 997 000', '2 830 746 600', '1,820', '0,42', '24'],
       ['ORANGEPL', 'PLTLKPL00017', '647 357 000', '4 285 503 340', '2,756', '1,16', '13'],
       ['PEKAO', 'PLPEKAO00016', '176 379 000', '9 619 710 660', '6,185', '5,27', '9'],
       ['PGE', 'PLPGER000010', '796 776 000', '3 561 588 720', '2,290', '2,88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1 624 608 000', '6 072 784 704', '3,905', '1,56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289 049 000', '17 701 360 760', '11,382', '12,44', '8'],
       ['PKOBP', 'PLPKO0000016', '857 593 000', '18 807 014 490', '12,093', '10,49', '9'],
       ['PLAY', 'LU1642887738', '114 151 000', '3 696 209 380', '2,377', '1,47', '16'],
       ['PZU', 'PLPZU0000011', '568 305 000', '17 515 160 100', '11,262', '6,64', '6'],
       ['SANPL', 'PLBZ00000044', '33 207 000', '5 213 499 000', '3,352', '1,91', '18'],
       ['TAURONPE', 'PLTAURN00011', '1 043 590 000', '1 252 308 000', '0,805', '1,21', '33']],
      dtype='<U14')

### <a name='8'></a> Ćwiczenie 88
Z tabilcy _result_ z poprzedniego zadania usuń wszystkie spacje w tekście oraz zamień wszystkie przecinki na kropki.

In [47]:
# tutaj wpisz rozwiązanie
res1 = np.char.replace(result, ' ', '')
res1 = np.char.replace(res1, ',', '.')
res1

array([['ALIOR', 'PLALIOR00045', '88860000', '1386216000', '0.891', '2.16', '14'],
       ['CCC', 'PLCCC0000016', '27918000', '1292603400', '0.831', '5.28', '42'],
       ['CDPROJEKT', 'PLOPTTC00011', '67348000', '22864646000', '14.702', '7.39', '7'],
       ['CYFRPLSAT', 'PLCFRPT00013', '275301000', '6854994900', '4.408', '1.17', '14'],
       ['DINOPL', 'PLDINPL00011', '47937000', '8916282000', '5.733', '9.13', '12'],
       ['JSW', 'PLJSW0000015', '52636000', '716902320', '0.461', '1.51', '24'],
       ['KGHM', 'PLKGHM000017', '136410000', '9881540400', '6.354', '4.78', '8'],
       ['LOTOS', 'PLLOTOS00025', '86543000', '5609717260', '3.607', '2.91', '16'],
       ['LPP', 'PLLPP0000011', '1306000', '7444200000', '4.787', '1.43', '19'],
       ['MBANK', 'PLBRE0000012', '12997000', '2830746600', '1.820', '0.42', '24'],
       ['ORANGEPL', 'PLTLKPL00017', '647357000', '4285503340', '2.756', '1.16', '13'],
       ['PEKAO', 'PLPEKAO00016', '176379000', '9619710660', '6.185', '5.27', '9'],
       ['PGE', 'PLPGER000010', '796776000', '3561588720', '2.290', '2.88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1624608000', '6072784704', '3.905', '1.56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289049000', '17701360760', '11.382', '12.44', '8'],
       ['PKOBP', 'PLPKO0000016', '857593000', '18807014490', '12.093', '10.49', '9'],
       ['PLAY', 'LU1642887738', '114151000', '3696209380', '2.377', '1.47', '16'],
       ['PZU', 'PLPZU0000011', '568305000', '17515160100', '11.262', '6.64', '6'],
       ['SANPL', 'PLBZ00000044', '33207000', '5213499000', '3.352', '1.91', '18'],
       ['TAURONPE', 'PLTAURN00011', '1043590000', '1252308000', '0.805', '1.21', '33']],
      dtype='<U12')

Następnie wytnij 5 kolumnę 'Udział w portfelu(%)' zamień jej typ na _float_ i policz sumę dla tej kolumny. Sprawdź czy wynosi 100%.

In [51]:
# tutaj wpisz rozwiązanie
res2 = res1[:, 4].astype(float)
print(f"kolumna Udział w portfelu(%) = {res2}")
print(f"Suma w kolumnie Udział w portfelu(%) = {res2.sum()}")

kolumna Udział w portfelu(%) = [ 0.891  0.831 14.702  4.408  5.733  0.461  6.354  3.607  4.787  1.82   2.756  6.185  2.29   3.905
 11.382 12.093  2.377 11.262  3.352  0.805]
Suma w kolumnie Udział w portfelu(%) = 100.001

### <a name='9'></a> Ćwiczenie 89
Z tablicy _result_ wytnij wszystkie wiersze o nazwie spółki zaczynającej się literą P i przypisz do zmiennej _stocks_startswith_P_.

__Oczekiwany wynik:__


```
array([['PEKAO', 'PLPEKAO00016', '176379000', '9619710660', '6.185', '5.27', '9'],
       ['PGE', 'PLPGER000010', '796776000', '3561588720', '2.290', '2.88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1624608000', '6072784704', '3.905', '1.56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289049000', '17701360760', '11.382', '12.44', '8'],
       ['PKOBP', 'PLPKO0000016', '857593000', '18807014490', '12.093', '10.49', '9'],
       ['PLAY', 'LU1642887738', '114151000', '3696209380', '2.377', '1.47', '16'],
       ['PZU', 'PLPZU0000011', '568305000', '17515160100', '11.262', '6.64', '6']], dtype='<U12')
```

In [54]:
# tutaj wpisz rozwiązanie

stocks_startswith_P = res1[np.char.startswith(res1[:, 0], 'P')]
stocks_startswith_P

array([['PEKAO', 'PLPEKAO00016', '176379000', '9619710660', '6.185', '5.27', '9'],
       ['PGE', 'PLPGER000010', '796776000', '3561588720', '2.290', '2.88', '18'],
       ['PGNIG', 'PLPGNIG00014', '1624608000', '6072784704', '3.905', '1.56', '12'],
       ['PKNORLEN', 'PLPKN0000018', '289049000', '17701360760', '11.382', '12.44', '8'],
       ['PKOBP', 'PLPKO0000016', '857593000', '18807014490', '12.093', '10.49', '9'],
       ['PLAY', 'LU1642887738', '114151000', '3696209380', '2.377', '1.47', '16'],
       ['PZU', 'PLPZU0000011', '568305000', '17515160100', '11.262', '6.64', '6']], dtype='<U12')

### <a name='10'></a> Ćwiczenie 90
Wykorzystując zmienną _stocks_startswith_P_ policz łączny udział spółek, których nazwa rozpoczyna się literą P. Wynik zaokrąglij do dwóch miejsc po przecinku.

In [63]:
# tutaj wpisz rozwiązanie
stocks_startswith_P_to_sum = stocks_startswith_P[:,5].astype(float)
stocks_startswith_P_to_sum.sum()

print(f"Kolumna łączny udział spółek: {stocks_startswith_P_to_sum}")
print(f"Łączny udział spółek: {stocks_startswith_P_to_sum.sum()}")

Kolumna łączny udział spółek: [ 5.27  2.88  1.56 12.44 10.49  1.47  6.64]
Łączny udział spółek: 40.75