<a href="https://colab.research.google.com/github/sebekpro/python-krakowiak/blob/main/250-data-science-bootcamp-w-jezyku-python/101_110_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 101](#1)
* [Ćwiczenie 102](#2)
* [Ćwiczenie 103](#3)
* [Ćwiczenie 104](#4)
* [Ćwiczenie 105](#5)
* [Ćwiczenie 106](#6)
* [Ćwiczenie 107](#7)
* [Ćwiczenie 108](#8)
* [Ćwiczenie 109](#9)
* [Ćwiczenie 110](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

pd.__version__

'2.2.2'

### <a name='1'></a> Ćwiczenie 101
Z podanej poniżej listy:


```
stocks = ['PLW', 'CDR', '11B', 'TEN']
```
Utwórz obiekt typu Series.

__Oczekiwany wynik:__


```
0    PLW
1    CDR
2    11B
3    TEN
dtype: object
```

In [2]:
# tutaj wpisz rozwiązanie
stocks = ['PLW', 'CDR', '11B', 'TEN']
stocks_series = pd.Series(stocks)
print(stocks_series)

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

### <a name='2'></a> Ćwiczenie 102
Z podanego poniżej słownika:


```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
```
Utwórz obiekt typu Series i przypisz do zmiennej _quotations_.

__Oczekiwany wynik:__


```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
```

In [3]:
# tutaj wpisz rozwiązanie
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

### <a name='3'></a> Ćwiczenie 103
Przekształć obiekt _quotations_ do listy.

__Oczekiwany wynik:__


```
[387.0, 339.5, 349.5, 391.0]
```

In [4]:
# tutaj wpisz rozwiązanie
quotations_list = pd.Series.tolist(quotations)
print(quotations_list)

[387.0, 339.5, 349.5, 391.0]

Przekształć obiekt _quotations_ do tablicy _numpy_.

In [5]:
# tutaj wpisz rozwiązanie
table_numpy = np.array(quotations)
print(table_numpy)

[387.  339.5 349.5 391. ]

### <a name='4'></a> Ćwiczenie 104
Przekształć obiekt _quotations_ do obiektu _DataFrame_. Ustaw nazwę kolumny na _price_.

In [6]:
# tutaj wpisz rozwiązanie
dt = pd.DataFrame(quotations, columns=['price'])
print(dt)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

### <a name='5'></a> Ćwiczenie 105
Wykorzystując bibliotekę _numpy_ zbuduj poniższy obiekt typu _Series_:


```
101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64
```

In [7]:
# tutaj wpisz rozwiązanie
data = np.arange(10, 100, 10, dtype = np.float_)
idx = np.arange(101, 110)
series =  pd.Series(data, idx)
print(series)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

### <a name='6'></a> Ćwiczenie 106
Podany jest poniższy obiekt typu _Series_:

```
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
```
Skonwertuj typ obiektu _series_ na _int_.

In [13]:
# tutaj wpisz rozwiązanie
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series_int = series.astype(int)
print(series_int)
print(series_int.dtypes)

a    1
b    2
c    3
d    4
dtype: int64
int64

Skonwertuj typ obiektu _series_ na _float_.

In [21]:
# tutaj wpisz rozwiązanie
series_float = series.astype(float)
print(series_float)
print(series_float.dtypes)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64
float64

### <a name='7'></a> Ćwiczenie 107
Do poniższego obiektu _quotations_:

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
```
Dodaj dwa elementy:
* indeks: BBT, wartość: 25.5
* indeks: F51, wartość: 19.2

__Oczekiwany wynik:__


```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64
```

In [23]:
# tutaj wpisz rozwiązanie
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
quotations1 = pd.Series(data=stocks)
quotations1['BBT'] = 25.5
quotations1['F51'] = 19.2
print(quotations1)

# vesrion 2
new_elem = pd.Series({'BBT': 25.5, 'F51': 19.2})
quotations2 = pd.concat([quotations, new_elem])
print("\n",quotations2)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

 PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

### <a name='8'></a> Ćwiczenie 108
Obiekt _quotations_ z poprzedniego ćwiczenia przekształć do obiektu typu _DataFrame_. Zresetuj indeks i nadaj nazwy kolumn '_ticker_' oraz _'price'_.

In [27]:
# tutaj wpisz rozwiązanie

quotations_df = quotations1.reset_index()
quotations_df.columns = ['ticker', 'price']
print(quotations_df)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

### <a name='9'></a> Ćwiczenie 109
Zbuduj poniższy obiekt _DataFrame_ i przypisz do zmiennej _companies_:

|    | company   |   price | ticker   |
|---:|:----------|--------:|:---------|
|  0 | Amazon    |  2375   | AMZN.US  |
|  1 | Microsoft |   178.6 | MSFT.US  |
|  2 | Facebook  |   179.2 | FB.US    |

In [36]:
# tutaj wpisz rozwiązanie
companies = pd.DataFrame({
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
})
companies

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

### <a name='10'></a> Ćwiczenie 110
Przekształć pierwszą kolumnę obiektu _companies_ w indeks.

In [37]:
# tutaj wpisz rozwiązanie
companies_set = companies.set_index('company')
print(companies_set)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

Wytnij wiersz dla spółki _Facebook_ z obiektu _companies_.

In [43]:
# tutaj wpisz rozwiązanie

# na podstawie wartości z kolumny company bez ustawiania indeksu
companies_delete = companies_set.drop('Facebook')
print(companies_delete)

# użycie drop() z parametrem index:
companies_delete = companies.drop(companies[companies['company'] == 'Facebook'].index)
print("\n", companies_delete)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US

      company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US

Wytnij cenę dla spółki _Microsoft_

In [45]:
# tutaj wpisz rozwiązanie
price_Microsoft = companies_set.loc['Microsoft', 'price']
price_Microsoft

178.6