<a href="https://colab.research.google.com/github/sebekpro/python-krakowiak/blob/main/250-data-science-bootcamp-w-jezyku-python/141_150_exercises_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 141](#1)
* [Ćwiczenie 142](#2)
* [Ćwiczenie 143](#3)
* [Ćwiczenie 144](#4)
* [Ćwiczenie 145](#5)
* [Ćwiczenie 146](#6)
* [Ćwiczenie 147](#7)
* [Ćwiczenie 148](#8)
* [Ćwiczenie 149](#9)
* [Ćwiczenie 150](#10)

### <a name='0'></a>Import biblioteki

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'1.18.2'

### <a name='1'></a> Ćwiczenie 141
Podane są dwa obiekty typu _Series_:

```
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
```
Połącz te dwa obiekty w jeden obiekt typu _DataFrame_ (jako dwie kolumny) i przypisz do zmiennej _df_. Nadaj nazwy kolumn odpowiednio _col1_ oraz _col2_.

In [ ]:
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
df

### <a name='2'></a> Ćwiczenie 142
Wytnij z obiektu _df_ wiersze, dla których wartość w kolumnie _col2_ jest pomiędzy 0.0 a 1.0 (włącznie).

In [ ]:
# Rozwiązanie 1
df[df['col2'].between(0.0, 1.0)]

In [ ]:
# Rozwiązanie 2
df[(df['col2'] >= 0.0) & (df['col2'] <= 1.0)]

### <a name='3'></a> Ćwiczenie 143
Przypisz nową kolumnę o nazwie _col3_, która przyjmie wartość 1 w momencie gdy w kolumnie _col2_ jest wartość nieujemna i przeciwnie -1.

In [ ]:
df['col3'] = df['col2'].map(lambda x: 1 if x >= 0 else -1)
df

### <a name='4'></a> Ćwiczenie 144
Przypisz nową kolumnę o nazwie _col4_, która przytnie wartości z kolumny _col2_ do przedziału $[-1.0, 1.0]$.
Innymi słowy, dla wartości poniżej -1.0 należy wstawić wartość -1.0, dla wartości powyżej 1.0 wartość 1.0.

In [ ]:
df['col4'] = df['col2'].clip(-1.0, 1.0)
df

### <a name='5'></a> Ćwiczenie 145
Znajdź 5 największych wartości dla kolumny _col2_.

In [ ]:
df['col2'].nlargest(5)

Znajdź 5 najmniejszych wartości dla kolumny _col2_.

In [ ]:
df['col2'].nsmallest(5)

### <a name='6'></a> Ćwiczenie 146
Wyznacz skumulowaną sumę dla każdej kolumny.

__Wskazówka:__ Użyj metody _pd.DataFrame.cumsum()_.

In [ ]:
df.cumsum()

### <a name='7'></a> Ćwiczenie 147
Wyznacz medianę dla zmiennej _col2_ (inaczej kwantyl rzędu 0.5).

In [ ]:
# Rozwiązanie 1
df['col2'].median()

-0.4180382371592297

In [ ]:
# Rozwiązanie 2
df['col2'].quantile()

-0.4180382371592297

### <a name='8'></a> Ćwiczenie 148
Wytnij wiersze, dla których zmienna _col2_ przyjmuje wartości większe od 0.0.

In [ ]:
# Rozwiązanie 1
df.query("col2 > 0")

In [ ]:
# Rozwiązanie 2
df[df['col2'] > 0]

### <a name='9'></a> Ćwiczenie 149
Wytnij 5 pierwszych wierszy obiektu _df_ i przekształć je do słownika.

In [ ]:
df.head().to_dict()

### <a name='10'></a> Ćwiczenie 150
Wytnij 5 pierwszych wierszy obiektu _df_, przekształć je do formatu Markdown i przypisz do zmiennej _df_markdown_.

In [ ]:
df_markdown = df.head().to_markdown()
df_markdown

Wydrukuj do konsoli zawartość zmiennej _df_markdown_.

In [ ]:
print(df.head().to_markdown())

Skopiuj wynik uruchomienia powyższej komórki i wklej poniżej:

|    |     col1 |      col2 |   col3 |      col4 |
|---:|---------:|----------:|-------:|----------:|
|  0 | 0.292145 |  0.822545 |      1 |  0.822545 |
|  1 | 0.366362 | -1.22084  |     -1 | -1        |
|  2 | 0.45607  |  0.208864 |      1 |  0.208864 |
|  3 | 0.785176 | -1.95967  |     -1 | -1        |
|  4 | 0.199674 | -1.32819  |     -1 | -1        |